    <!-- About Section -->

<style>
    #abc {
      background-color: blue;
    }
</style>
      
    <section id="about" class="container content-section text-left">
        <div class="row abc">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>책 소개</h2>
                <p>모든 콘텐츠에는 다양하고 고유한 역사가 있다. <br>이 책은 콘텐츠의 유통 방식과 플랫폼의 역사를 자세히 짚어내고 있다.</p>
                <p>엔터테인먼트 산업의 기득권이었던 회사들은 각자 나름의 방식으로 <br>자신의 힘을 유지하며 소비자에게 콘텐츠를 전달해왔다.</p>
                <p>그러나 디지털 기술의 발전은 콘텐츠의 창작, 유통, 소비 방식에 근본적인 변화를 <br>가져오며, 엔터테인먼트 산업에 대혼란을 야기했다.</p>
                <p>공룡들의 몰락과 뉴 골리앗의 등장이 어떻게 이뤄졌는지 알게 되면, <br>지금 이 시대의 엔터테인먼트 산업에 대한 이해가 가능할 것이다.</p>
            </div>
        </div>
    </section>
