    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>책 소개</h2>
                <p>모든 콘텐츠에는 다양하고 고유한 역사가 있다. <br>이 책은 콘텐츠의 유통 방식과 플랫폼의 역사를 자세히 짚어내고 있다.</p>
                <p>엔터테인먼트 산업의 기득권이었던 회사들은 각자 나름의 방식으로 <br>자신의 힘을 유지하며 소비자에게 콘텐츠를 전달해왔다.</p>
                <p>그러나 디지털 기술의 발전은 콘텐츠의 창작, 유통, 소비 방식에 근본적인 변화를 <br>가져오며, 엔터테인먼트 산업에 대혼란을 야기했다.</p>
                <p>공룡들의 몰락과 뉴 골리앗의 등장이 어떻게 이뤄졌는지 알게 되면, <br>지금 이 시대의 엔터테인먼트 산업에 대한 이해가 가능할 것이다.</p>
                <br>
                <h3>언론보도</h3>
<p><a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=103&oid=020&aid=0003158234">동아일보 - 넷플릭스가 몰고 온 맞춤형 플랫폼 바람</a></p>
<p><a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=103&oid=018&aid=0004151827">이데일리 - 넷플릭스의 '정주행' 비결…'플랫폼이 콘텐츠다'</a></p>
<p><a href="http://www.futurekorea.co.kr/news/articleView.html?idxno=108365">미래한국 - 플랫폼이 콘텐츠다...데이터를 활용한 콘텐츠가 성공한다.</a></p>
<p><a href="http://www.naeil.com/news_view/?id_art=282029">내일신문 - [주말을 여는 책 | 플랫폼이 콘텐츠다] 시청자의 '소비패턴'을 파악하라</a></p>
<p><a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=103&oid=015&aid=0003978734">한국경제 - 엔터 시장의 주도권 이동, 플랫폼이 콘텐츠다</a></p>
<p><a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=103&oid=011&aid=0003347810">서울경제 - [책꽂이-플랫폼이 콘텐츠다]넷플릭스·유튜브의 OTT, 엔터산업을 바꾸다</a></p>
                  
            
            
            </div>
        </div>
    </section>
