    <!-- Author Section -->
    <section id="author" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>원서 및 저자</h2>
                
                <h3><a href="http://www.smithtelang.com/" target="_blank">Streaming Sharing Stealing</a></h3>
                
                   <style>
                    img.cover3{
                        float: none;
                        width: 25%; 
                        height: auto;
                        margin-right: 10px; 
                    }
                </style>
                
                <p><img src = "./img/cover3.png" class = "cover3"></p>
                
                <style>
                    img.left{
                        float: left;
                        width: 20%; 
                        height: auto;
                        margin-right: 10px; 
                    }
                </style>
                <br><br>                    
                <h3> <a href="https://mds.heinz.cmu.edu/" target="_blank">마이클 스미스 Michael D. Smith</a></h3>
                <img src = "./img/smith.jpg" class = "left">
                <p>MIT에서 경영학 박사학위를 받았다. 
                <br><a href="https://www.heinz.cmu.edu/" target="_blank">카네기멜론 대학교</a>에서 정보시스템을 가르치며 IDEA 공동 디렉터로 일하고 있다. 
                <br>Management Science, ISR 등 유명 저널의 편집자로 일한 바 있으며, 
                <br>미국공학한림원으로부터 최고의 공학 지도자로 뽑힌 바 있다. 
                <br>새로운 기술이 소비자와 기업에 어떤 영향을 미치는지를 연구하고 있으며, 특히 엔터테인먼트 산업에 많은 관심을 가지고 있다.
                <br>
                <br>
                <h3> <a href="https://www.heinz.cmu.edu/~rtelang/rahul_res.html" target="_blank">라훌 텔랑 Rahul Telang</a></h3>
                <img src = "./img/telang.jpg" class = "left">
                <p>카네기멜론 대학교에서 경영학 박사학위를 받았다. 
                <br><a href="https://www.heinz.cmu.edu/" target="_blank">카네기멜론 대학교</a>에서 정보시스템을 가르치며 IDEA 공동 디렉터로 일하고 있다. 
                <br>Marketing Science, MISQ 등 유명 저널의 편집자로도 일한 바 있으며, 
                <br>국립과학재단NSF으로부터 연구자상을 받았다. 
                <br>콘텐츠의 디지털화가 어떻게 산업, 소비자, 정책을 재구성해 왔는지 꾸준히 연구하고 있으며, 데이터 분석에 관한 고급 과정을 가르치고 있다.
                
            </div>
        </div>
    </section>
