    <!-- Buy Section -->
    <section id="buy" class="content-section text-left">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>구입</h2>
                    <p>아래 온라인 서점에서 구입할 수 있습니다. 전자책은 추후 발행 예정입니다.</p>
                    <a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?barcode=9791189318000"  target="_blank" class="btn btn-default btn-lg">교보문고</a>
                    <a href="http://www.yes24.com/24/goods/62128534?scode=032&OzSrank=1"  target="_blank" class="btn btn-default btn-lg">Yes24</a>
                    <a href="http://www.aladin.co.kr/shop/wproduct.aspx?ISBN=K402533620&start=pnaver_02"  target="_blank" class="btn btn-default btn-lg">알라딘</a>
                    <a href="http://book.interpark.com/product/BookDisplay.do?_method=detail&sc.prdNo=287374262"  target="_blank" class="btn btn-default btn-lg">인터파크</a>
                
                
                
                </div>
            </div>
        </div>
    </section>
