 <!-- Cover Section -->
    <header class="cover">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">                   
                    <style>
                    img.cover {
                        width:30%; 
                        height: auto; 
                        }
                    </style>
                <img src = "./img/ssscover2.png" class = "cover"> 
                <a href="#intro" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
    </header>
