    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <style>
                        img.cover2 {
                            width:25%; 
                            height: auto; 
                            }
                        </style>
                        
                        <p>
                            <br>
                            <br>
                            <br>
                            <br>
                        <img src = "./img/ssscover2.png" class = "cover2"> 
                        </p>                        
                        <h3 class="brand-heading">플랫폼이 콘텐츠다</h3>
                        <p class="intro-text">{{ site.description }}<br>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
