    <!-- Index Section -->
    <section id="index" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>목차 소개</h2>
                <h3>I.흥망성쇠</h3>
1. 하우스 오브 카드 - 넷플릭스의 데이터 전략
<br>2. 과거에는 - 아날로그 시대의 메이저 음반사들
<br>3. 석양의 건맨 - 종이책과 전자책을 동시에 출간하면 손해일까? 
<br>4. 퍼펙트 스톰 - 브리태니커 백과사전의 실수
<br>
<h3>II.변화</h3>
5. 블록버스터 법칙과 롱테일 법칙 - 그레이의 50가지 그림자가 성공한 이유
<br>6. 불법 복제 - 스티브 잡스가 불법 복제물을 보는 시각
<br>7. 힘의 이동 - 해리포터가 아마존을 이긴 비결
<br>8. 괴짜들의 복수 - 거대 방송사 NBC, 아이튠즈에 고개 숙이다
<br>9. 머니볼 - 콘텐츠가 먼저일까? 데이터가 먼저일까?
<br>
<h3>III.새로운 희망</h3>
10. 오만과 편견 - 게임과 데이터마이닝
<br>11. 쇼는 계속되어야 한다 - 결론은, 개별 고객 데이터 
            </div>
        </div>
    </section>
