   <!-- Supervisor Section -->
    <section id="supervisor" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>감수자 소개</h2>
                          
                <style>
                    img.left{
                        float: left;
                        width: 20%; 
                        height: auto;
                        margin-right: 10px; 
                    }
                </style>
                <h3>조대곤 Daegon Cho</h3>
                <img src = "./img/daegoncho.png" class = "left">
                <p>연세대학교에서 경영학과 경제학을 전공했고, SK텔레콤 경영전략실에서 근무했다. 
                   이후, 컬럼비아대학교에서 산업공학 석사, 카네기멜론 대학교에서 경영정보학 박사학위를 받았다.
                   <br>
                   <br>
                   현재 KAIST 경영대학 조교수로 비즈니스 애널리틱스를 가르치고 있다. 
                   KAIST 밝은인터넷연구센터 센터장을 맡고 있고, <a href="http://dlab.kaist.ac.kr/">KAIST d.lab(Digital Society and Data Studies) 연구실</a>을 운영하며, 
                   기업이 데이터를 효과적으로 경영에 활용하는 방안과 ICT정책/전략, Green IT, 디지털혁신, 미디어/콘텐츠에 대해 연구를 진행중이다.</p>
            </div>
        </div>
    </section>
