   <!-- Translator Section -->
    <section id="translator" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>역자 소개</h2>
                <h3>임재완 Jaewan m</h3>

                <h3>김형진 Hyungjin Kim</h3> 
                <p>고려대학교에서 경영학을 전공하고 KAIST에서 디지털 광고 전략에 관한 논문으로 경영공학 박사학위를 받았다. 
                   현재 고려대학교 빅데이터융합사업단 연구교수로 인공지능과 빅데이터, 광고/미디어 산업, 정보보안과 블록체인에 관한 연구를 진행하고 있으며 
                   기술보증기금KIBO의 외부자문위원으로 문화콘텐츠 분야에 대한 평가자문을 수행하고 있다. multi58@korea.ac.kr</p>
            </div>
        </div>
    </section>
