<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include index.html %}
    {% include review.html %}    
    {% include author.html %}
    {% include video.html %}
    {% include supervisor.html %}
    {% include translator.html %}
    {% include buy.html %}
        
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-3167723772682962"
     data-ad-slot="9558450501"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        
    {% include disqus.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
